<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "sport" %><br>
    <%= f.select :training_category_id, options_from_collection_for_select(@categories, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label "vzdálenost" %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :popisek %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

