<% @categories.each do |category| %>
<div class='col-sm-4 new-training-click'>
  <%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

    <ul>
      <% @training.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div class='info'>
  <h1>  <%= category.name %></h1>
  <h2><%= cl_image_tag category.image, alt: category.name,:width => 60, :height => 60 %></h2>
  <p><%= category.description %>  </p>
  <% if category.koef != 0%><p>(minimum: <%= category.minimum%><%= category.units%>)</p> <% end %>
  <%= link_to 'zapsat', '#', class: 'zapsat' %>
</div>
<div class='hidden_info'>
  <div class="field">
    <h1><%= f.label category.name %></h1>

    <%= f.hidden_field :training_category_id, :value => category.id %>
  </div>
  <% if category.koef != 0%>
  <div class="field">
    <%= f.label "vzdálenost" %><br>
    <%= f.text_field :distance, placeholder: category.units, class: "form-control"  %>
  </div>
  <% else %>
  <div class="field">
    <%= f.hidden_field :distance, :value => "" %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :popisek %><br>
    <%= f.text_field :description, placeholder: 'volitelné ', class: "form-control" %>
  </div>
  <div class="field">
    <%= f.submit 'zapsat', class: "btn btn-default"%>
    <%= link_to 'zrušit', '#', class: 'cancel' %>
  </div>
</div>
  <% end %>
</div>
<% end %>

<script>
$('.hidden_info').hide();
$('.zapsat').on('click', function()
{
  $(this).closest('.new-training-click').find('.hidden_info').show();
  $(this).closest('.new-training-click').find('.info').hide();
});
$('.cancel').on('click', function()
{
//  $(this).closest('.new-training-click').css('background','red');
//  $(this).closest('.new-training-click').find('.info').show();
$(this).closest('.new-training-click').find('.info').show();
  $(this).closest('.new-training-click').find('.hidden_info').hide();
//  $(this).closest('.new-training-click').find('.info').show();
//  $(this).closest('.new-training-click').find('.hidden_info').hide();
});
</script>






