<table class="table table-striped table-hover">
  <tr>
    <th>Pořadí</th>
    <th>Body</th>
    <% if data_set.first && (data_set.first["user_id"] || data_set.first["team_id"]) %>
      <th>Název</th>
      <% end %>
    <th>Gym</th>
  </tr>

  <% data_set.each do |data| %>
    <tr>
      <td><%= data["rank"] %>.</td>
      <td><%= data["points"] %></td>
      <% if data["user_id"] %>
        <td><%= link_to @users.find(data["user_id"]).fullname, user_gymwars_path(data["user_id"]) %></td>
      <% elsif data["team_id"] %>
      <td><%= @users.find(data["team_id"]).fullname  %></td>
      <% end %>
      <td><%= link_to @gyms.find(data["gym_id"]).name, gym_path(data["gym_id"]) %></td>
    </tr>
  <% end %>
</table>
