
<div>
  <%= form_tag complete_users_path, :method => :put do %>
  <%= submit_tag "Ulož", class: 'btn btn-success' %>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th class="text-center">Jméno</th>
        <th class="text-center">Člen</th>
      </tr>
    </thead>


    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class="text-center"><%= user.fullname %></td>
        <td class="text-center <%= user.is_member.to_s.upcase  %>"><%= user.is_member == true ? "ANO" : "NE" %></td>
        <td><%= check_box_tag "user_ids[]", user.id %></td>
      </tr>

      <% end %>
    </tbody>

  </table>

  <%= submit_tag "Ulož", class: 'btn btn-success' %>

  <% end %>



</div>
