<% provide(:title, "Sign in") %>
<div class="container form-container">
  <h1>Přihlásit se</h1>

  <div class="form-wrapper">
    <div class="col-sm-12">
      <%= form_for(:session, url: sessions_path) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: "control-label col-sm-4" %>
          <div class="col-sm-8">
            <%= f.text_field :email %>
          </div>
           <br class="clear" />
        </div>
        <div class="form-group">
          <%= f.label :password, 'Heslo:', class:"control-label col-sm-4" %>
          <div class="col-sm-8">
            <%= f.password_field :password %>
          </div>
           <br class="clear" />
        </div>
        <div class="form-group">
        <%= link_to 'Registrace','signup', class: "btn btn-large btn-primary btn-info" %>
        <%= f.submit "Přihlásit se", class: "btn btn-large btn-primary btn-success" %>
        
        </div>
      <% end %>
    </div>

     <br class="clear" />
  </div>
</div>