<div class="container">
  <div class='col-sm-12'>
    <p id="notice"><%= notice %></p>

    <h1>Listing Gt Categories</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Single</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @gt_categories.each do |gt_category| %>
        <tr>
          <td><%= gt_category.name %></td>
          <td><%= gt_category.single %></td>
          <td><%= gt_category.description %></td>

          <td><%= link_to 'Show', gt_category %></td>
          <td><%= link_to 'Edit', edit_gt_category_path(gt_category) %></td>
          <td><%= link_to 'Destroy', gt_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Gt category', new_gt_category_path %>
  </div>
</div>
