<%= form_for(@gt_registration, html: {class: 'form-signin'}) do |f| %>
<% if @gt_registration.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@gt_registration.errors.count, "error") %> prohibited this gt_registration from being saved:</h2>

  <ul>
    <% @gt_registration.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= f.label "Cena" %><br>
  <%= f.text_field :price, :value => @price  , class: 'form-control' ,:disabled=>true%>
</div>

<div class="form-group">
  <%= f.label "Jméno" %><br>
  <%= f.text_field :firstname , class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label "Příjmení" %><br>
  <%= f.text_field :surname , class: 'form-control' %>
</div>
<%= f.hidden_field :gt_race_id, :value => @gt_race.id %>
<%= f.hidden_field :price, :value => @price  %>
<div class="form-group">
  <%= f.label "Email" %><br>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label "Tým" %><br>
  <%= f.text_field :team , class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label "Ulice" %><br>
  <%= f.text_field :street , class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label "Město" %><br>
  <%= f.text_field :city , class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label "Psč" %><br>
  <%= f.number_field :psc, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label "Telefon" %><br>
  +<%= f.text_field :code, class: "code_phone form-control" %>
  <%= f.text_field :phone_number , class: 'form-control phone' %>
</div>
<div class="form-group">
  <%= f.label "Datum narození" %><br>
  <%= f.date_select :birth , class: 'form-control' %>
</div>
<div class="form-group">

<%= f.radio_button(:sex, "M") %>
<%= label_tag(:sex, "Muž") %>
<%= f.radio_button(:sex, "F") %>
<%= label_tag(:sex, "Žena") %>
</div>
<div class="form-group">
  <%= f.label "Poznámka" %><br>
  <%= f.text_area :notes , class: 'form-control' %>
</div>
<div class="actions">
  <%= f.submit "Registrovat", class: 'btn btn-success' %>
</div>
<% end %>
