

<div class="col-md-12">
  <h1><%= @category.try(:name) || "Celkové výsledky" %></h1>

  <table data-toggle="table" data-classes="table table-striped table-hover" data-striped="true">

    <thead>
      <tr>
          <th colspan="5" class="msum">Celkově</th>
          <th colspan="4" class="m1">1. měsíc</th>
          <th colspan="4" class="m2">2. měsíc</th>
          <th colspan="4" class="m3">3. měsíc</th>
      </tr>
      <tr>
        <th class='col-xs-1 msum'>Jméno</th>
        <th class='col-xs-1 msum' data-sortable="true">Skóre</th>
        <th class='col-xs-1 msum' >Pořadí</th>
        <th class='msum' >Bonus</th>
        <th class='msum' data-sortable="true">Celkové body</th>

        <th class='m1' data-sortable="true">Sk</th>
        <th class='m1' >Poř</th>
        <th class='m1' >Bod</th>
        <th class='m1' data-sortable="true">Cel</th>

        <th class='m2' data-sortable="true">Sk</th>
        <th class='m2' >Pořadí</th>
        <th class='m2' >Bod</th>
        <th class='m2' data-sortable="true">Cel</th>

        <th class='m3' data-sortable="true">Sk</th>
        <th class='m3' >Poř</th>
        <th class='m3' >Bod</th>
        <th class='m3' data-sortable="true">Cel</th>

      </tr>
    </thead>
    <tbody>

      <% @result.each_with_index do |r,index| %>
      <tr>
        <td class='msum'><%= link_to @users.find_by_id(r["user_id"]).fullname, @users.find_by_id(r["user_id"]) %></td>
        <td class='msum'><%= r["score"] %></td>
        <td class='msum'><%= r["rank"] %></td>
        <td class='msum'>+<%= r["bonus"] %></td>
        <td class='msum'><strong><%= r["sum_points"] %></strong></td>

        <td class='m1'><%= r["score1"] %></td>
        <td class='m1'><%= r["rank1"] %></td>
        <td class='m1'>+<%= r["bonus1"] %></td>
        <td class='m1'><strong><%= r["sum_points1"] %></strong></td>

        <td class='m2'><%= r["score2"] %></td>
        <td class='m2'><%= r["rank2"] %></td>
        <td class='m2'>+<%= r["bonus2"] %></td>
        <td class='m2'><strong><%= r["sum_points2"] %></strong></td>

        <td class='m3'><%= r["score3"] %></td>
        <td class='m3'><%= r["rank3"] %></td>
        <td class='m3'>+<%= r["bonus3"] %></td>
        <td class='m3'><%= r["sum_points3"] %></td>


      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>


