<%= form_for(@period) do |f| %>
  <% if @period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% @period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Zacatek obdobi:" %><br>
    <%= f.datetime_select :time_from, include_seconds:true %>
  </div>
  <div class="field">
    <%= f.label "Konec obdobi:" %><br>
    <%= f.datetime_select :time_to, include_seconds:true %>
  </div>


  <div class="field">
    <%= f.label "Zacatek prvniho mesice:" %><br>
    <%= f.datetime_select :time_from_1, include_seconds:true %>
  </div>
  <div class="field">
    <%= f.label "Konec prvniho mesice:" %><br>
    <%= f.datetime_select :time_to_1, include_seconds:true %>
  </div>

  <div class="field">
    <%= f.label "Zacatek druheho mesice:" %><br>
    <%= f.datetime_select :time_from_2, include_seconds:true %>
  </div>
  <div class="field">
    <%= f.label "Konec druheho mesice:" %><br>
    <%= f.datetime_select :time_to_2, include_seconds:true %>
  </div>


  <div class="field">
    <%= f.label "Zacatek tretiho mesice:" %><br>
    <%= f.datetime_select :time_from_3, include_seconds:true %>
  </div>
  <div class="field">
    <%= f.label "Zacatek tretiho mesice:" %><br>
    <%= f.datetime_select :time_to_3, include_seconds:true %>
  </div>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
