<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @period.time_from %>
</p>

<p>
  <strong>To:</strong>
  <%= @period.time_to %>
</p>

<p>
  <strong>Name:</strong>
  <%= @period.name %>
</p>


<p>
  <strong>time_from_1:</strong>
  <%= @period.time_from_1 %>
</p>

<p>
  <strong>time_to_1:</strong>
  <%= @period.time_to_1 %>
</p>


<p>
  <strong>time_from_2:</strong>
  <%= @period.time_from_2 %>
</p>

<p>
  <strong>time_to_2:</strong>
  <%= @period.time_to_2 %>
</p>


<p>
  <strong>time_from_3:</strong>
  <%= @period.time_from_3 %>
</p>

<p>
  <strong>time_to_3:</strong>
  <%= @period.time_to_3 %>
</p>




<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
