<div class="container">
  <div class='col-sm-12'>
    <p id="notice"><%= notice %></p>

    <h1>Registrace</h1>
    <h2>vybráno: <%= @gt_registrations.inject(0){|sum, registr| registr.payed == true ? sum + registr.price : sum}%>,- z <%= @gt_registrations.inject(0){|sum, registr| sum + registr.price } %>,-</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">VS</th>
          <th class="text-center">Email</th>
          <th class="text-center">Jméno</th>
          <th class="text-center">Team</th>
          <th class="text-center">Gt race</th>
          <th class="text-center">Price</th>
          <th class="text-center">Sex</th>
          <th class="text-center">Notes</th>
          <th class="text-center">Payed</th>
          <th class="text-center" colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @grouped_by_gt_category.each do |gt_registrations| %>
        <tr>
          <td colspan="11" class='tdheader-gtreg'>
            <strong>
              <%= @categories.find(gt_registrations[0]).name %>
            </strong>
          </td>
        </tr>
        <!-- x.inject {|sum, n| sum + n } -->
        <tr><td colspan="8">zaplaceno: <%= gt_registrations[1].inject(0){|sum, registr| registr.payed == true ? sum + 1 : sum  } %> z <%= gt_registrations[1].size %></td></tr>
        <tr><td colspan="8">vybráno: <%= gt_registrations[1].inject(0){|sum, registr| registr.payed == true ? sum + registr.price : sum  } %>,- z <%= gt_registrations[1].inject(0){|sum, registr| sum + registr.price } %>,-</td></tr>

        <% gt_registrations[1].each do |gt_registration| %>
        <tr>
          <%= render "index_with_payed", :gt_registration => gt_registration %>
        </tr>
        <% end %>

        <% end %>

      </tbody>
    </table>
    <br>
  </div>
</div>
