<p id="notice"><%= notice %></p>

<h1>Listing Gt Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Gt race</th>
      <th>Price</th>
      <th>Street</th>
      <th>City</th>
      <th>Psc</th>
      <th>Phone number</th>
      <th>Code</th>
      <th>Birth</th>
      <th>Sex</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gt_registrations.each do |gt_registration| %>
      <tr>
        <td><%= gt_registration.firstname %></td>
        <td><%= gt_registration.surname %></td>
        <td><%= gt_registration.gt_race %></td>
        <td><%= gt_registration.price %></td>
        <td><%= gt_registration.street %></td>
        <td><%= gt_registration.city %></td>
        <td><%= gt_registration.psc %></td>
        <td><%= gt_registration.phone_number %></td>
        <td><%= gt_registration.code %></td>
        <td><%= gt_registration.birth %></td>
        <td><%= gt_registration.sex %></td>
        <td><%= gt_registration.notes %></td>
        <td><%= link_to 'Show', gt_race_gt_registrations_path(@gt_race,gt_registration) %></td>
        <td><%= link_to 'Edit', edit_gt_race_gt_registration_path(@gt_race,gt_registration) %></td>
        <td><%= link_to 'Destroy', gt_race_gt_registration_path(@gt_race, gt_registration), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
