<%= form_for(@user, html: {class: 'form-signin'}) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :email %><br>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :first_name, "Jméno" %><br>
  <%= f.text_field :first_name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :surname, "Příjmení" %><br>
  <%= f.text_field :surname, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password, "Heslo" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Potvrzení Hesla" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :gym, "GYM" %>
  <%= f.collection_select :gym_id, Gym.all, :id, :name, {prompt: "Vyber GYM"}, { class: "form-control" } %>
</div>
<div class="form-group">
  <%= f.select :gender, options_for_select([['Muž',1], ['Žena',2]], selected: @user.gender), {}, { class: 'form-control' } %>
</div>
<div class="form-group">
  <%= f.label "foto"%>
  <%= f.hidden_field :image_cache %>
  <%= f.file_field :image, class:"btn btn-default btn-file" %>
</div>
<div class="actions">
  <%= f.submit "Potvrdit", class: "btn btn-lg btn-primary btn-block" %>
</div>
<% end %>
