<% if admin_in? %>
  <p id="notice"><%= notice %></p>

  <h1>Listing Users</h1>

  <table class='table table-striped table-hover'>
    <thead>
    <tr>
      <th class="text-center">Email</th>
      <th class="text-center">First name</th>
      <th class="text-center">Surname</th>
      <th class="text-center" colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-center"><%= user.email %></td>
        <td class="text-center"><%= user.first_name %></td>
        <td class="text-center"><%= user.surname %></td>
        <td class="text-center"><%= link_to 'Show', user %></td>
        <td class="text-center"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="text-center"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
<% end %>