<table class='table table-striped table-hover'>

  <% @registration.registration.each do |r| %>
  <tr>
    <% if r.user == current_user %>
      <td> <strong><%= r.user.fullname %></strong></td>
    <% else%>
      <td> <%= r.user.fullname %></td>
    <% end %>
    <td> <%= l r.created_at.to_date %></td>
    <td>
      <% if r.payed %>
        <button type="button" class="btn btn-success">zaplaceno</button>
      <% else %>
        <button type="button" class="btn btn-danger">nezaplaceno</button>
      <% end %>
      <% if current_user && current_user.admin? && current_user.email == 'hege8400@seznam.cz'%>
        <%= link_to( "změnit stav", registration_path(r),:method => :patch, remote: true, class: "btn btn-warning") %>
      <% end %>
      <% if current_user.admin?%>
      <td>
        <%= link_to 'Smazat', registration_path(@registration, r.user), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      <% end %>

    </td>
  </tr>
  <% end %>
</table>
