<%= form_for(@dictionary) do |f| %>
  <% if @dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% @dictionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Název cviku AJ" %><br>
    <%= f.text_field :en_name %>
  </div>
  <div class="field">
    <%= f.label "Název cviku ČJ" %><br>
    <%= f.text_field :cz_name %>
  </div>
  <div class="field">
    <%= f.label "zkratka" %><br>
    <%= f.text_field :abr %>
  </div>
  <div class="actions">
    <%= f.submit 'Přidat' %>
  </div>
<% end %>
