<div class="container">

<table class="table table-striped">
  <thead>
    <tr>
      <% if admin_in? %>
        <th colspan="6" class="crossfit-header">CROSSFIT</th>
      <% else %>
        <th colspan="3" class="crossfit-header">CROSSFIT</th>
      <% end%>

    </tr>

    <tr>
      <th>Název cviku AJ</th>
      <th>Název cviku ČJ</th>
      <th>zkratka</th>
     <% if admin_in? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @dictionaries.each do |dictionary| %>
      <tr>
        <td><%= dictionary.en_name %></td>
        <td><%= dictionary.cz_name %></td>
        <td><%= dictionary.abr %></td>
        <% if admin_in? %>
        <td><%= link_to 'Show', dictionary %></td>
        <td><%= link_to 'Edit', edit_dictionary_path(dictionary) %></td>
        <td><%= link_to 'Destroy', dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_in? %>
<%= link_to 'Nový pojem', new_dictionary_path, class: 'btn btn-default btn-success' %>
<% end %>
</div>