
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_from, "OD" %><br>
    <%= f.datetime_select :time_from, order: [:day, :month, :year], :default => { :hour => 19, :minute => 00 }%>
  </div>
  <div class="field">
    <%= f.label :time_to, "DO" %><br>
    <%= f.datetime_select :time_to, order: [:day, :month, :year], :default => { :hour => 20, :minute => 00 } %>
  </div>
  <div class="field">
    <%= f.label :capacity, "Kapacita" %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :min_people, "Minimum lidí" %><br>
    <%= f.number_field :min_people %>
  </div>

  <div class="field">
    <%= f.label :place, "Místo" %><br>
    <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class: "form-control"}) %>
    <%= link_to 'Vytvořit nové místo', new_place_path, class:"btn" %>
  </div>

  <div class="field">
    <%= f.label :category, "Kategorie" %><br>
     <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: "form-control"}) %>
     <%= link_to 'Vytvořit novou kategorii', new_category_path, class:"btn" %>
  </div>

  <div class="field">
    <%= f.label :prohibit_sign_in, "Zakázat přihlašování" %><br>
    <%= f.check_box :prohibit_sign_in %>
  </div>

  <div class="field">
    <%= f.label :prohibit_sign_in_text, "Text zákaz přihlašování" %><br>
    <%= f.text_field :prohibit_sign_in_text %>
  </div>



  <div class="actions">
    <%= f.submit 'submit', class:"btn btn-success" %>
  </div>
<% end %>
<script>
