<h1>REZERVACE</h1>

<table>
  <thead>
    <tr>
      <th>Den</th>
      <th>Datum</th>
      <th>Čas</th>
      <th>Místo</th>
      <th>Kapacita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>

        <td><%= l(reservation.time_from, format: "%A") %></td>
        <td><%= l reservation.time_from.to_date %></td>
        <td><%= reservation.time_from.strftime("%H:%M") %> - <%= reservation.time_to.strftime("%H:%M") %></td>
        <td> <%= link_to reservation.place.name,reservation.place.map_url  %></td>
        <td><%= reservation.users.count %> / <%= reservation.capacity %></td>
        <% if reservation.users.include? current_user%>
        <td class="green"><%= link_to "Odhlásit se", {controller: "reservations_users", action: "destroy", id:reservation}, method: :delete %></td>
        <% elsif reservation.users.count < reservation.capacity %>
        <td class="red"><%= link_to "Přihlásit", {controller: "reservations_users", action: "create", id:reservation}, method: :post %></td>
        <% else %>
        <td class="yellow">PLNO</td>
        <% end %>
        <td><%= link_to 'Detail', reservation %></td>
          <% if admin_in? %>
        <td><%= link_to 'Editovat', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Smazat', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>