<table class='table'>
<% @regular_users.each_with_index do |ru,index|%>
  <tr>
    <td> <%= index + 1%>.</td>
    <% if ru.user == current_user %>
      <td> <strong><%= ru.user.fullname %></strong></td>
    <% else%>
      <td> <%= ru.user.fullname %></td>
    <% end %>

    <td> <%= (l ru.created_at, format: :short) %></td>
  </tr>
<% end%>
</table>
<h2>Náhradníci</h2>
<table class='table'>
<% @nahradnici.each_with_index do |ru,index|%>
  <tr>
    <td> <%= index + 1%>.</td>
    <% if ru.user == current_user %>
      <td> <strong><%= ru.user.fullname %></strong></td>
    <% else%>
      <td> <%= ru.user.fullname %></td>
    <% end %>
    <td> <%= (l ru.created_at, format: :short) %></td>
  </tr>
<% end%>
</table>