<div class='col-sm-6'>
<table class='table table-striped table-hover'>
<% @regular_users.each_with_index do |ru,index|%>
  <tr>
    <td> <%= index + 1%>.</td>
    <% if ru.user == current_user %>
      <td> <strong><%= ru.user.fullname %></strong></td>
    <% else%>
      <td> <%= ru.user.fullname %></td>
    <% end %>
    <td> <%= (l ru.created_at, format: :short) %></td>
    <% if current_user.admin?%>
    <td><%= link_to 'Smazat', reservations_user_path(@reservation, ru.user), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %></td>

  </tr>
<% end%>
</table>
</div>
<div class='col-sm-6'>

<table class='table table-striped table-hover'>
<% @nahradnici.each_with_index do |ru,index|%>
<% if index == 0%>
<h2>Náhradníci</h2>
<% end %>
  <tr>
    <td> <%= index + 1%>.</td>
    <% if ru.user == current_user %>
      <td> <strong><%= ru.user.fullname %></strong></td>
    <% else%>
      <td> <%= ru.user.fullname %></td>
    <% end %>
    <td> <%= (l ru.created_at, format: :short) %></td>
    <% if current_user && current_user.admin?%>
    <td><%= link_to 'Smazat', reservations_user_path(@reservation, ru.user), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </td>
  </tr>
<% end%>
</table>
</div>
