<p id="notice"><%= notice %></p>
<table class='table table-striped table-hover event'>

  <tbody>
    <% @gyms.each do |gym| %>
      <tr>
        <td><%= cl_image_tag gym.image, alt: gym.name, :height=>100,  :crop=>"scale" %></td>
        <td><%= link_to gym.name, gym.web %></td>
        <td><%= link_to 'Detail', gym, class: "btn btn-info" %></td>
        <% if current_user && current_user.admin? %>
          <td><%= link_to 'Edit', edit_gym_path(gym) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.admin? %>
  <%= link_to 'New Gym', new_gym_path, class: 'btn btn-success' %>
<% end %>
