<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= cl_image_tag @gym.image, alt: @gym.fullname, :height=>100,  :crop=>"scale" %>
</p>
<p>
  <strong>Web:</strong>
  <%= link_to @gym.web, @gym.web %>
</p>
<p>
  <strong>description:</strong>
  <%= raw @gym.description %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gyms_path %>
