<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, "Jméno výzvy" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Zacatek vyzvy:" %><br>
    <%= f.datetime_select :from_time,:default => { :hour => 0, :minute => 0 } %>
  </div>
  <div class="field">
    <%= f.label "Konec vyzvy:" %><br>
    <%= f.datetime_select :to_time,:default => { :hour => 23, :minute => 59 }%>
  </div>
  <div class="field">
    <%= f.label :url, "Youtube odkaz na video" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Kategorie" %><br>
    <%= f.collection_select(:challenge_category_id, ChallengeCategory.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :description, "Popis" %><br>
    <%= f.trix_editor :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
