<p id="notice"><%= notice %></p>

<h1>Aktuální výzvy</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Název</th>
      <th>Kategorie</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @actual_challenges.each do |challenge| %>
      <tr>
        <td>do: <%= challenge.to_time.strftime("%d.%m.%Y") %></td>
        <td><%= challenge.name %></td>
        <td><%= challenge.challenge_category.name %></td>
        <td><%= link_to 'Info', challenge, class:"btn btn-info" %></td>
        <td><%= link_to 'Zapsat výsledek', new_challenge_score_path(challenge.id), class: 'btn btn-success' %></td>
        <% if admin_in? %>
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



<% if @challenges.count > 0 %>
  <h3>Neaktuální</h3>
<% end %>

<table class='table table-striped table-hover'>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td>do: <%= challenge.to_time.strftime("%d.%m.%Y") %></td>
        <td><%= challenge.name %></td>
        <td><%= challenge.challenge_category.name %></td>
        <td><%= link_to 'Info', challenge, class:"btn btn-info" %></td>
        <% if admin_in? %>
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <% if admin_in? %>
<%= link_to 'Nová výzva', new_challenge_path, class: 'btn btn-success' %>
<% end %>
