
<div class="container">
  <div class='col-sm-12'>
    <p id="notice"><%= notice %></p>

    <h1><%= @challenge.name %> ( <%= @challenge.challenge_category.name %> )</h1>

    <iframe width="560" height="315"  src=<%= "https://www.youtube.com/embed/#{@challenge.url.split('/').last}?ecver=1" %> frameborder="0" allowfullscreen></iframe>
    <p>
      <%= raw @challenge.description %>
    </p>

<%= link_to 'Zapsat skore', new_challenge_score_path(@challenge.id), class: 'btn btn-success' %>
    <%# link_to 'Edit', edit_challenge_path(@challenge) %>
    <%# link_to 'Back', challenges_path %>
  </div>


  <%= render template: 'challenge_leaderboards/index' %>
  <!-- <h2>Vysledky</h2> -->
  <%# link_to 'Muži', men_challenge_leaderboards_path(@challenge.id), class: 'btn btn-success' %>
  <%# link_to 'Ženy', women_challenge_leaderboards_path(@challenge.id), class: 'btn btn-success' %>
  <%# link_to 'Gymy', gyms_challenge_leaderboards_path(@challenge.id), class: 'btn btn-success' %>
  <%# link_to 'Mixy', mixes_challenge_leaderboards_path(@challenge.id), class: 'btn btn-success' %>
</div>
