<%= form_for(@challenge_score) do |f| %>
  <% if @challenge_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge_score.errors.count, "error") %> prohibited this challenge_score from being saved:</h2>

      <ul>
      <% @challenge_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :challenge_time %><br>
    <%= f.time_select :challenge_time %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :challenge_id %><br>
    <%= f.text_field :challenge_id %>
  </div>
  <%= f.collection_select :challenge_id, @challenge, :id, :name %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
