<p id="notice"><%= notice %></p>

<%= link_to 'Výzvy', challenges_path, class: "btn btn-success" %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Výzva</th>
      <th>Čas</th>
      <th>Video</th>
      <th>Jméno</th>
      <th>Gym</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenge_scores.each do |challenge_score| %>
      <tr>

        <td><%= link_to challenge_score.challenge.name, challenge_path(challenge_score.challenge) %></td>
        <td><%= challenge_score.challenge_time %></td>
        <td><%= link_to "link", challenge_score.url %></td>
        <% if challenge_score.team %>
          <td><%= link_to challenge_score.team.name, team_path(challenge_score.team) %></td>
        <% else %>
          <td><%= link_to challenge_score.user.fullname, user_gymwars_path(challenge_score.user) %></td>
        <% end %>

        <td><%= link_to challenge_score.gym.name, gym_path(challenge_score.gym) %></td>
        <% if challenge_score.user == current_user || admin_in?%>
          <td><%= link_to 'Smazat', challenge_score, method: :delete, data: { confirm: 'Opravdu chcete smazat položku?' } %></td>
        <% end %>
        <% if admin_in?%>
          <td><%= link_to 'editovat', edit_challenge_score_path(challenge_score) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
