<div class="navbar subnav" role="navigation">
  <div class="navbar-inner">
    <div class="container sub-nav-container">
      <ul class="nav navbar-nav ">
        <li role=""><%= link_to '#' do %><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>O projektu<% end %></li>
        <li role="">
          <%= link_to challenges_path do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Výzvy<% end %>
        </li>
        <li role=""><%= link_to leaderboards_path() do %><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>Aktuální pořadí<% end %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to  "https://www.facebook.com/gymwarsgames/", target: "_blank", alt: "facebook" do %>
          <%= image_tag "fb_logo_black.png", width:"20px", class:'vertical-al'%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
