<div class="navbar subnav" role="navigation">
  <div class="navbar-inner">
    <div class="container sub-nav-container">
      <ul class="nav navbar-nav ">
        <li role=""><%= link_to trainings_path do %><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>O projektu<% end %></li>
        <li role="">
          <%= link_to user_path(current_user) do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Moje tréninky<% end %>
        </li>
        <li role=""><%= link_to statistics_path do %><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>Statistiky<% end %></li>
        <li role=""> <%= link_to '/Gladiator_gladiatorka-2.pdf' do %> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Pravidla<% end %></li>
        <li role=""> <%= link_to new_training_path do %> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Přidat výzvu<% end %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to  "https://www.facebook.com/gymwarsgames/", target: "_blank", alt: "facebook" do %>
          <%= image_tag "fb_logo_black.png", width:"20px", class:'vertical-al'%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
