<div class="navbar subnav" role="navigation">
  <div class="navbar-inner">
    <div class="container sub-nav-container">
      <ul class="nav navbar-nav ">
        <li role=""><%= link_to gym_wars_path do %><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>O projektu<% end %></li>
        <li role=""><%= link_to challenges_path do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Výzvy<% end %></li>
        <li role=""><%= link_to challenge_scores_path do %><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>Zapsané výzvy<% end %></li>
        <li role=""><%= link_to teams_path do %><span class="glyphicon glyphicon-tower" aria-hidden="true"></span>Týmy<% end %></li>
        <li role=""><%= link_to season_leaderboards_path(Season.current_season || Season.last) do %><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>Aktuální pořadí<% end %></li>
        <li role=""><%= link_to gyms_path do %><span class="glyphicon glyphicon-king" aria-hidden="true"></span>Gyms<% end %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to  "https://www.facebook.com/gymwarsgames/", target: "_blank", alt: "facebook" do %>
          <%= image_tag "fb_logo_black.png", width:"20px", class:'vertical-al'%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
