<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Rezervace", reservations_path, class: 'reservation' %></li>
        <li><%= link_to "Gladiátor Kralup", trainings_path %></li>
        <li><%= link_to "Fotogalerie", "http://gladiatorstraining.rajce.idnes.cz/"%></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
         <%= render 'layouts/navigation_links' %>
        <li><%= link_to  "https://www.facebook.com/Gladiator-training-Kralupy-668361683249635/", target: "_blank", alt: "facebook" do %>
          <%= image_tag "fb_logo.png", width:"20px"%>
          <% end %></li>
      </ul>
    </div>
  </div>
</nav>
