<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "GYM WARS", challenges_path, class: "gym_wars x_gym"%></li>
        <li><%= link_to "Gladiator training", reservations_path, class: "gym_wars x_gym yellow"%></li>
        <li><%= link_to "Zavod", gt_races_path, class: "gym_wars x_gym green"%></li>
        <!-- <li><%# link_to "O nás", about_us_index_path %></li> -->
        <!-- <li><%# link_to "Slovník CF", dictionaries_path %></li> -->
        <!-- <li><%# link_to "Rezervace", reservations_path, class: 'reservation' %></li> -->
        <!-- <li><%# link_to "Gladiátor Kralup", trainings_path, class: 'yellow_font' %></li> -->
        <!-- <li><%# link_to "Závody", events_path, class: 'white_font' %></li> -->
        <!-- <li><%# link_to "Fotogalerie", "http://gladiatorstraining.rajce.idnes.cz/"%></li> -->

      </ul>
      <ul class="nav navbar-nav navbar-right">
         <%= render 'layouts/navigation_links' %>

        <li><%= link_to  "https://www.facebook.com/Gladiator-training-Kralupy-668361683249635/", target: "_blank", alt: "facebook" do %>
          <%= image_tag "fb_logo.png", width:"20px"%>
          <% end %></li>
      </ul>
    </div>
  </div>
</nav>
